
body {
    margin: 0px;
    padding: 15px;
    background-color: white;
    color: #000000;
    font-family: Helvetica Neue, "Source Sans Pro";
    font-size: 14px;
	box-sizing: border-box;
	width: 1920px;
	height: 1080px;
}
table {
    border-collapse: collapse;
}
p, td, th {
    font-size: 1em;
    text-align: left;
}
td, th {
    vertical-align: top;
}
table {
    border-collapse: separate;
    border-spacing: 0px;
}
table th, table td {
    padding-right: 0.5em;
}
#screen {
}
.s1900x1080 {
    /*width: 1860px;
    height: 1040px;*/
}
.s1280x800 {
}
.block {
    /*background: -webkit-gradient( linear, left top, right bottom, from(#202020), to(#303030));*/
	padding-top: 25px;
	padding-left: 25px;
	box-sizing: border-box;
	position: absolute;
}
.blockContents {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}

h1 {
    font-size: 2.0em;
    line-height: 1.1em;
    margin: 0px;
	padding: 0px;
}
.block h2 {
    margin: 0px;
    font-size: 1.5em;
    line-height: 1.1em;
    padding: 0px;
}
pre, tt {
    font-family: monospace;
}
big {
    font-size: 4em;
    line-height: 0.9em;
}
small {
}

