
body {
    margin: 0px;
    padding: 15px;
    background-color: #313842;
    color: #313842;
    font-family: 'Varela Round', "Source Sans Pro";
    font-size: 12px;
	box-sizing: border-box;
	width: 1920px;
	height: 1080px;
}
table {
    border-collapse: collapse;
}
p, td, th {
    font-size: 1em;
    text-align: left;
}
td, th {
    vertical-align: top;
}
table {
    border-collapse: separate;
    border-spacing: 0px;
}
table th, table td {
    padding-right: 0.5em;
}
#screen {
}
.s1900x1080 {
    /*width: 1860px;
    height: 1040px;*/
}
.s1280x800 {
}
.block {
    /*background: -webkit-gradient( linear, left top, right bottom, from(#202020), to(#303030));*/
	padding-top: 25px;
	padding-left: 25px;
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
}
.blockContents {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
        padding: 1em;
	box-sizing: border-box;
}

h1 {
    font-size: 2.0em;
    line-height: 1.1em;
    margin: 0px;
	padding: 0px;
}
.block h2 {
    margin: 0px;
    font-size: 0.9em;
    color: #0069ff;
    color: #313842;
	
    background-color: #e3e3d5;
    text-transform: uppercase;
    line-height: 1.1em;
    padding: 0px;
    font-weight: normal;
padding: 1em;
}
pre, tt {
    font-family: monospace;
}
big {
    font-size: 4em;
    line-height: 0.9em;
}
small {
}

