{% extends "base.html" %}
{% load dajaxice_templatetags %}
{% block content %}
    <div id="screen" class="s1920x1080">
        <div class="block w2 h1" style="width: {{ settings.DASHBOARD_UNIT_SIZE }}px; height: {{ settings.DASHBOARD_UNIT_SIZE }}px" id="globalthreat">
			<div class="blockContents">
            <h2>Global status</h2>
				<div>
					<big>OK</big>
				</div>
			</div>
            <script>
                // update global threat level
                states = Array();
                function report( block_id, state ) {
                    states[block_id] = state;
                }
                $(document).ready( function() {
                    setInterval( function() {
                        var current = 0;
                        for( i in states ) {
                            if( states[i] > current ) {
                                current = states[i];
                            }
                        }
                        if( current >= 2 ) {
                            // sheeeeeeeeeeeeeet
                            $('#globalthreat big').text('SHEEEET');
                            $('#globalthreat big').attr('class', 'error');
                        }
                        if( current == 1 ) {
                            $('#globalthreat big').text('HMMMM');
                            $('#globalthreat big').attr('class', 'warn');
                        }
                        if( current == 0 ) {
                            $('#globalthreat big').text(':-)');
                            $('#globalthreat big').attr('class', 'ok');
                        }
                    }, 2000 );
                } );
            </script>
        </div>
        {{ da_blocks|safe }}
    </div>
    <script type="text/javascript">
        $(function(){
            $('#screen').masonry({ columnWidth: {{ settings.DASHBOARD_UNIT_SIZE }}, itemSelector: '.block', animate: true });
        });
    </script>
{% endblock content %}
{% block head %}
    <title>Dash</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fonts/inconsolata/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fonts/junction/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dash.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.at_intervals.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cyclic-fade.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/2.1.2/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/themes/dark.js"></script>
    {% dajaxice_js_import %}
    {{ da_media|safe }}
{% endblock head %}
