{% extends "base.html" %}
{% block content %}
    <div id="screen" class="s1920x1080">
        {% comment %}<div class="block w2 h1" style="width: {{ settings.DASHBOARD_UNIT_SIZE }}px; height: {{ settings.DASHBOARD_UNIT_SIZE }}px" id="globalthreat">
			<div class="blockContents">
            <h2>Global status</h2>
				<div>
					<big>OK</big>
				</div>
			</div>
            <script>
                // update global threat level
                states = Array();
                function report( block_id, state ) {
                    states[block_id] = state;
                }
                $(document).ready( function() {
                    setInterval( function() {
                        var current = 0;
                        for( i in states ) {
                            if( states[i] > current ) {
                                current = states[i];
                            }
                        }
                        if( current >= 2 ) {
                            // sheeeeeeeeeeeeeet
                            $('#globalthreat big').text('SHEEEET');
                            $('#globalthreat big').attr('class', 'error');
                        }
                        if( current == 1 ) {
                            $('#globalthreat big').text('HMMMM');
                            $('#globalthreat big').attr('class', 'warn');
                        }
                        if( current == 0 ) {
                            $('#globalthreat big').text(':-)');
                            $('#globalthreat big').attr('class', 'ok');
                        }
                    }, 2000 );
                } );
            </script>
        </div> {% endcomment %}
        {{ da_blocks|safe }}
    </div>
{% endblock content %}
{% block head %}
    <title>Dash</title>
<link href="https://fonts.googleapis.com/css?family=Varela|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dash.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.at_intervals.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cyclic-fade.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}node_modules/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}node_modules/highcharts/highcharts-3d.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/themes/elementary.js"></script>
    {{ da_media|safe }}


    <script>
      Highcharts.setOptions({
        chart: {
          style: {
            fontFamily: '"Varela Round", sans-serif',
            fontWeight: 'normal'
          },
        },
        credits: {
          enabled: false
        }
      });
      function dashi_run( cb, ms ) {
        random_factor = Math.round((Math.random() / 20) * ms);
        //cb();
        setTimeout( cb, random_factor );
        setInterval( cb, ms + random_factor );
      }

      var Dajaxice = {
        dashi : {
          update_block : function (cb, data) {
            jQuery.ajax('/ajax_update_block/' + data.block_id, {
                dataType: 'json',
                success: cb
            } );
          }
        }
      };
    </script>
{% endblock head %}
