<div class="block" style="width: {{width}}px; height: {{height}}px; top: {{y}}px; left: {{x}}px" id="b{{ block_id }}">
    {% block title %}
    {% if settings.DASHBOARD_SHOW_TITLES %}
    {% if title %}
    <h2>{{ title }}</h2>
    {% endif %}
    {% endif %}
    {% endblock title %}
	<div class="blockContents">
    {% block render %}
    {% endblock render %}
	</div>
</div>
{% block support %}
{% endblock support %}
<style>
   {% for style in styles %}
   #b{{block_id}} {{ style }}
   {% endfor %}
</style>
