{% extends "blocks/base.html" %}
{% block render %}
    <div id="graph{{ block_id }}">
        Grarff // whats the point in this? does it just show when the graph is failing to appear?
    </div>
{% endblock %}
{% block support %}
    <script type="text/javascript">
        //var chart;
        $(document).ready(function() {

            /*
            Creates an area chart which is rendered to a block (update_block). 
            The height, width, and update time parameters of the chart are 
            specified in the dashboard.py config file. Other options for the graph are 
            specified here. 
            */

            var chart = new Highcharts.chart('graph{{ block_id }}', {
                chart: {
                    animation: {
                        duration: 1000,
                    },

                    height: '{{ height }}' - 80, 
                    width: '{{ width }}' - 80,
                    type: 'area',

                    events: {
                        load: function() { 
                            var serieses = this.series; 
                            setInterval( function() { 
                                Dajaxice.dashi.update_block( function(data) { 
                                    if(data != Dajaxice.EXCEPTION) { 
                                        for (var i = 0; i < serieses.length; i++) {
                                            serieses[i].addPoint([data.vals[i][0], data.vals[i][1]], true, true)
                                        }
                                    }
                                }, { block_id: "{{block_id}}" } ); 
                            }, {{ update_ms }} );
                        }
                    }
                },

                title: false,
                credits: false,

                xAxis: {
                    gridLineWidth: 0, 
                    type: 'datetime', 
                    tickPixelInterval: 150,
                },

                yAxis: {
                    min: 0,
                    plotLines: false, 
                    title: false,
                },

                tooltip: { 
                    formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            Highcharts.dateFormat('%Y-%m-%d %H:%M', this.x) +'<br/>'+ 
                            this.y;
                            // CLEANER? STRING INTERPOLATION?
                    }
                },

                legend: {
                    enabled: false
                },

                exporting: {
                    enabled: false
                },

                plotOptions: {
                    area: {
                        marker: {
                            enabled: false,
                        },
                        fillColor: false,
                    },
                    series: {
                        pointInterval: 1000
                    }
                },

                series: [
                {% for series in data.series %}
                {
                    name: '{{ series.label }}',
                    type: 'area',
                    data: (function() {
                        var data = [], i, time = (new Date().getTime());
                        for (i = - '{{range}}'; i <= 0; i+=1) { 
                            data.push({
                                x: time + ('{{ update_ms }}' * i), 
                                y: 0
                            });
                        }
                        return data;
                    })()
                },
                {% endfor %}
                ]
            });
        });
                
    </script>
{% endblock support %}
