{% extends "blocks/base.html" %}
{% block render %}
    <div id="graph{{ block_id }}">
        Grarff // whats the point in this? does it just show when the graph is failing to appear?
    </div>
{% endblock %}
{% block support %}
    <script type="text/javascript">
        //var chart;
        $(document).ready(function() {

            /*
            Creates an area chart which is rendered to a block (update_block). 
            The height, width, and update time parameters of the chart are 
            specified in the dashboard.py config file. Other options for the graph are 
            specified here.

            TODO: the right side of the chart is not visible.
            TODO: does graph media really do anything?
            TODO: fix time on chart
            TODO: can the bit where series is specified near the bottom of the code be removed?
            */

            var chart = new Highcharts.chart('graph{{ block_id }}', {


                chart: {
                    
                    animation: {
                        duration: '{{ update_ms }}' / 10 // The duration of the animation in milliseconds
                    },

                    height: '{{ height }}' - 80, // -80 allows chart to fit inside parent block
                    width: '{{ width }}' - 80,
                    
                    type: 'area',

                    events: {

                        load: function() { 
                            var serieses = this.series; 
                            setInterval( function() { 
                                Dajaxice.dashi.update_block( function(data) { 
                                    if(data != Dajaxice.EXCEPTION) { 

                                        for (var i = 0; i <= serieses.length; i++) {
                                            serieses[i].addPoint([data.vals[i][0], data.vals[i][1]], true, true)
                                        }
                                    }
                                }, { block_id: "{{block_id}}" } ); 
                            }, {{ update_ms }} );
                        }
                    }
                },
                title: false,
                credits: false,
                xAxis: {
                    gridLineWidth: 0, // documentation says that this defauts to 0 but it doesn't... weird.
                    type: 'datetime', 
                    tickPixelInterval: 150,
                },
                yAxis: {
                    min: 0,
                    plotLines: false, 
                },
                tooltip: { // appears when hovering over chart.
                    formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+ 
                            Highcharts.numberFormat(this.y, 2);
                            // CLEANER? STRING INTERPOLATION?
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        marker: {
                            enabled: false,
                        },
                        fillColor: false,
                    },
                },
                series: [ // specific options for each series instance. 
                {% for series in data.series %}
                {
                    name: '{{ series.label }}',
                    type: 'area',
                    data: (function() {
                        var data = [], i, time = (new Date()) // creates three variables
                        for (i = - '{{range}}'; i <= 0; i+=1) { // TODO: need a better understanding of this loop.
                            data.push({
                                x: time/1000 + i * '{{update_ms}}' / 1000,
                                y: 0
                            });
                        }

                        return data;

                    })() // mistake?
                },
                {% endfor %}
                ]
            });
        });
                
    </script>
{% endblock support %}
