{% extends "blocks/base.html" %}
{% block render %}
    <table id="graphval{{ block_id }}" class="graphvals">
        {% for series in data %}
            <tr>
                <td>{{ series.label }}</td>
                <td id="graphval{{ block_id }}{{forloop.counter}}"></td>
        {% endfor %}
    </table>
    <div id="graph{{ block_id }}">
        Grarff
    </div>
{% endblock %}
{% block support %}
    <script type="text/javascript">
        //var chart;
        $(document).ready(function() {
            var block_id = {{ block_id }};
            var chart = new Highcharts.Chart({
                chart:{
                    animation: {
                        duration: {{ update_ms }} / 4
                    },
                    height: {{ pixel_height}} - 60,
                    width: {{ pixel_width}} - 20 - 140,
                    renderTo: 'graph{{ block_id }}',
                    defaultSeriesType: 'column',
                    marginRight: 10,
                    events: {
                        load: function() {
            
                            // set up the updating of the chart each second
                            var serieses = this.series;
                            setInterval( function() {
                                Dajaxice.dashi.update_block( function( data ) {
                                    if( data != Dajaxice.EXCEPTION ) {
                                        c = 0;
                                        {% for series in data %}
                                            myseries = serieses[c];
                                            now = (new Date()).getTime();
                                            //console.log( data.x );
                                            //console.log( data.y );
                                            //series.addPoint([now - ( data.x * 1000 ), data.y], false, true);
                                            for( p in myseries.data ) {
                                                po = myseries.data[ p ];
                                                po.update( [ po.x - {{ update_ms }} / 1000, po.y ], false );
                                                $('#graphval{{ block_id }}{{ forloop.counter }}').text( po.y );
                                                if( po.y > {{ threshold_error }} ) {
                                                    $('#graphval{{ block_id }}{{ forloop.counter }}').attr('class','alarm' );
                                                    $('#graphval{{ block_id }}{{ forloop.counter }}').css('color', '');
                                                    report( '{{ block_id }}:{{ forloop.counter }}', 2 );
                                                } else if( po.y > {{ threshold_warning }} ) {
                                                    $('#graphval{{ block_id }}{{ forloop.counter }}').attr('class', 'warning' );
                                                    $('#graphval{{ block_id }}{{ forloop.counter }}').css('color', '');
                                                    report( '{{ block_id }}:{{ forloop.counter }}', 1 );
                                                } else {
                                                    $('#graphval{{ block_id }}{{ forloop.counter }}').attr('class', '' );
                                                    $('#graphval{{ block_id }}{{ forloop.counter }}').css('color', myseries.color);
                                                    report( '{{ block_id }}:{{ forloop.counter }}', 0 );
                                                }
                                            }
                                            myseries.addPoint([0, data.vals[c][1]], false, true);
                                            c++;
                                        {% endfor %}
                                        chart.redraw();
                                    }
                                }, { block_id: "{{block_id}}" } );
                            }, {{ update_ms }} );
                        }
                    }
                },
                title: false,
                credits: false,
                xAxis: {
                    gridLineWidth: 0,
                    lineWidth: 0,
                    type: 'int',
                    tickPixelInterval: 150
                },
                yAxis: {
                    gridLineWidth: 0,
                    min: 0,
                    lineWidth: 0,
                    title: false, /*{
                        text: 'Impressions/sec',
                        enabled: false
                    },*/
                    plotLines: false, /*[{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]*/
                },
                tooltip: {
                    formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+ 
                            Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    spline: {
                        marker: {
                            enabled: false,
                        },
                        lineWidth: 1
                    },
                },
                series: [
                {% for series in data %}
                {
                    name: '{{ series.label }}',
                    type: 'spline',
                    data: (function() {
                        // generate an array of random data
                        var data = [], i;
                            //time = (new Date()).getTime(),
                        for (i = -{{range}}; i <= 0; i+={{update_ms}}/1000) {
                            data.push({
                                x: i,
                                y: 0
                            });
                        }
                        return data;
                    })()
                },
                {% endfor %}
                ]
            });
            
            
        });
                
    </script>
{% endblock support %}
