{% extends "blocks/base.html" %}
{% block render %}
    <div id="graph{{ block_id }}">
        Grarff
    </div>
{% endblock %}
{% block support %}
    <script type="text/javascript">

$(function () {
    var chart = Highcharts.chart('graph{{ block_id }}', {
        title: { text: null },
        chart: {
            height: {{ height}} - 30,
            width: {{ width }} - 30,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            /*options3d: {
              enabled: true,
              alpha: 45
            },*/
            events: {
              load: function() {
                dashi_run( function() {
                  Dajaxice.dashi.update_block( function( data ) {
                    if( data != Dajaxice.EXCEPTION ) {
                        chart.series[0].setData([], false);
                        $.each( data, function( index, row ) {
                          name = row[0];
                          name = name.replace(/.*:/, "");
                          chart.series[0].addPoint({name: name, y: row[1]}, false);
                        } );
                        chart.redraw();
                    }
                  }, {block_id: "{{block_id}}"} );
                }, {{ update_ms }} );
              }
            }
        },
        plotOptions: {
            pie: {
                /*depth: 35,*/
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.percentage:.1f} %',
                    style: {
                    }
                }
            }
        },
        series: [{
            name: 'Split',
            colorByPoint: true,
            data: [
            ]
        }]
    });
});


    </script>
{% endblock support %}
