{% extends "blocks/base.html" %}
{% block render %}
    <span class="ticker">0</span>{{ data.unit }}
{% endblock %}
{% block support %}
    <script type="text/javascript">
        dashi_run( function() {
            Dajaxice.dashi.update_block( function( data ) {
                if( data != Dajaxice.EXCEPTION ) {
                    $( '#b{{block_id}} .ticker' ).fadeOut( 10, function() {
                        $( '#b{{block_id}} .ticker' ).html( data.value ).attr( "class", "ticker " + data.status ).fadeIn( 10 );
                    } );
                }
            }, { block_id: "{{block_id}}" } );
        }, {{ update_ms }} );
    </script>
{% endblock support %}
