{% extends "blocks/base.html" %}
{% block render %}
    <span class="ticker {{ panel_css_class }} OK">0</span>{{ data.unit }}
{% endblock %}
{% block support %}
    <script type="text/javascript">
        dashi_run( function() {
            Dajaxice.dashi.update_block( function( data ) {
                if( data != Dajaxice.EXCEPTION ) {
                    $( '#b{{block_id}} .ticker' ).fadeOut( 100, function() {
                        $( '#b{{block_id}} .ticker' ).html( parseInt(data.value).toLocaleString('en-GB', {useGrouping: true}) ).addClass(data.status).fadeIn( 100 );
                    });
                }
            }, { block_id: "{{block_id}}" } );
        }, {{ update_ms }} );
    </script>
{% endblock support %}
